@media only screen and (min-width: 768px) {

    :root {
       /*Menu Lateral*/
        --MenuAncho: 34vw;
        --MenuSeparacionLogoElementos:12%;
        --MenuPadding:4%;
        --MenuSeparacionElementos: 6%;
       /*Fuentes*/
        --TamanoFuenteParrafos: 14px;
       /*Iconos*/
        --AlturaIconosMenuLateral:25px;
       /* Modulo Estadísticas */
        --SeccionEstadisticasDisplay:flex;
   }
}
