/*Vertical Tablet Lenovo*/
@media only screen and (min-width:600px) {
   :root {
      /*Menu Lateral*/
       --MenuPadding:5%;
       --MenuAncho: 44vw;
       --MenuSeparacionLogoElementos:12%;
       --MenuSeparacionElementos: 6%;
      /*Fuentes*/
       --TamanoFuenteParrafos: 14px;
        /* Página Home */
     --PaddingContenidosHome: 32px;
     /* Subpaginas */
     --SeccionSuperiorOrden: row;
     --SeccionSuperiorAlineacion: stretch;
     --BuscadorInputWidth: 300px;
  }
}
